<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    #wrap {
      width: 300px;
      margin: 100px auto;
      height: 250px;
      text-align: center;
      background-color: green;
      color: white;
    }
    #wrap form {
      padding-top: 20px;
    }
  </style>
</head>
<body>
    <div id="wrap">
        <form action="/upload" method="post" enctype="multipart/form-data">
          <p>上传文件1：<input type="file" name="fl"></p>
          <p>上传文件2：<input type="file" name="fl"></p>
          <p>上传文件3：<input type="file" name="fl"></p>
          <p><input type="submit" value="上传"></p>
        </form>
    </div>
</body>
</html>